.conteinr-menu-invetario{
    position: fixed;
    color: rgb(255, 255, 255);
    background-color: rgb(131, 131, 131);
    width: 16rem;
    height: 100vh;
    top: 0px;
    left: 0px;
}

/* contedido del logo  */
.conteinr-menu-invetario-logo{
    width: 191px;
    height: 72px;
    margin: 16px 0px 16px 0px;
    padding: 10px 0px 20px 30px;
}

.img-logo{
    width: 100px;
    height: 65px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.conteinr-menu-invetario-logo-text{
    color: rgb(167, 167, 167);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    border-radius: 50px;
}



/* contenido del usuario */
.conteinr-menu-invetario-img{
    padding: 20px 30px 5px 30px;;
}

.conteinr-menu-invetario-img-text{
    color: rgb(167, 167, 167);
}


.conteinr-menu-invetario-img-alaing{
    /* display: flex;
    align-items: center; */
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img-user{
    width: 52px;
    height: 52px;
    padding: 5px 0px 5px 5px;
    border-radius: 50px;
    background: white;
}

.conteinr-menu-invetario-img-name{
    font-size: 20px;
    padding: 0px 10px
}

/* Menu  */

.box-item-menu{
    padding: 0px 0px 0px 24px;
    margin: 10px;
    
}

.box-item-menu-link{
    display: grid;
    text-decoration: none;
    border-bottom: 1px solid #00000030;
    padding: 16px 0px 3px 8px;
}

.box-item-menu-link-box{
    display: flex;
    align-items: center;
}

.box-item-menu-link-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.box-item-menu-link-spantitle{
    color: rgb(40 40 40 / 58%);
    font-size: 18px;
    padding: 0px 10px
}

.box-item-menu-link-span{
    color: rgba(37, 35, 124, 0.5);
    font-size: 16px;
    padding: 0px 50px
}

.box-item-menu-link:hover{
    background-color: rgba(172, 172, 172, 0.705);
}



/* fuera */
/* .conteinr-invetario{
    position: fixed;
    left: 260px;
} */


