<div class="conte">
    <form action="">
        <div class="contect-form">
        <label >Registrar Contactos</label><br>
        <hr>
        <input type="text" class="input-form input-identifiacacion " placeholder="Numero De Identifacacion">
        <input type="text" class="input-form input-nombre" placeholder="Nombres">
        <input type="text" class="input-form input-apellido" placeholder="Apellido">
        <hr>
        <input type="text" class="input-form input-correo" placeholder="Correo">
        <input type="text" class="input-form input-numero" placeholder="Numero">
        <hr>
        <input type="text" class="input-form input-direccion" placeholder="Dirreccion">
        <textarea placeholder="Detalle de la Dirreccion" class="descripcion-product"></textarea>
        <button type="submit" class="btn-registrar">Registrar</button>
        </div>
    </form>
    
</div>
