.contenedor-informacion{
    /* background-color: blue; */
    display: flex;
}

.contenedor-box{
    width: 200px;
    height: 125px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 6px;
    text-align:end;
    background: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
}

.card-icon{
    border-radius: 3px;
    background-color: #999;
    padding: 10px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.text-conteiner-title{
    padding: 15px;
    color: rgb(167, 167, 167);
    
}

.text-conteiner-informacion{
    padding: 15px;
    color: rgb(141, 141, 141);
    display: flex;

}
