.formulario-box{
    display: grid;
    place-items: center;
    text-align: center;
 

}


.formulari-contain{
    background-color: white;
    border-radius: 10px;
    box-shadow: 21px 11px 31px 4px rgba(0,0,0,0.27);
    padding: 10px;
    margin:  80px 10px 10px;
    width: 550px;
    height: 430px;
}

.texto-registro{
    display: grid;
    place-items: center;
    text-align: center;
    margin: 15px;
}

hr{
    height: 1px;
    background-color: black;
}

.formulari-contain-input{
    margin: 10px;
    background-color: rgb(236, 232, 232);
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    
}




.btn-register{
    font-size: 15px;
    width: 150px;
    height: 30px;
    background-color: rgba(177, 186, 194, 0.658);
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.btn-register:hover{
    background-color: rgba(192, 192, 192, 0.877) ;
    color: black;
}



.mensaje-validation{
    color: red;
}