

<div class="formulario-box" >

    <form class="formulari-contain" >
        <br>
        <span>Registrate</span>
        <br>
        <select name="" id="" class="formulari-contain-input">
            <option value="Cc">Cedula Ciudadania</option>
            <option value="Ce">Cedula Extrangera</option>
            <option value="Ps">Pasaporte</option>
        </select>
        <input type="number" class="formulari-contain-input" placeholder="Numero Identifacion">
        <input type="text"   class="formulari-contain-input" placeholder="Nombres Completos">
        <input type="text"   class="formulari-contain-input" placeholder="Apellidos Completos">
        <input type="number" class="formulari-contain-input" placeholder="Numero Celular">
        <input type="text"   class="formulari-contain-input" placeholder="Direccion">
        <input type="email"  class="formulari-contain-input" placeholder="correo Electronico">
        <input type="password"  class="formulari-contain-input" placeholder="password">
        <input type="password"  class="formulari-contain-input" placeholder="password">
        <br>
        <button type="submit" class="btn-register"> Registrarte  </button>
    </form>
    

</div>


<a routerLink="/login">Login</a>